<div class="row cards">
            
                <div class="card-container col-sm-6 col-sm-12">
                <div class="card card-redbrown flip">
                 <div class="front"> 

                    <div class="media">        
                      <span class="pull-left">
                        <i class="fa fa-users media-object"></i>
                      </span>

                      <div class="media-body">
                     </div>    
                    </div> 

                    <div class="progress-list">
                     
                    </div>

                  </div>
                  <div class="back">
                    <a href="/creategroup">
                      <i class="fa fa-group fa-4x"></i>
                      <span>Create A Group</span>
                    </a>  
                  </div>
                </div>
              </div>
                
                
            <% 
               var max = -1;
               if(typeof(maxSize)!='undefined'&&maxSize>0)
                max = maxSize;
               if(typeof(groups)!='undefined')
               for(var i=0;i<groups.length;i++){ 
                if(max>0&&i>=max)
                    break;
                var group = groups[i];
                var isOwner = group.creator == current_user.id;
                %>
                <div class="card-container col-sm-6 col-sm-12">
                <div class="card card-<%=group.card_color%> hover">
                  <div class="front"> 

                    <div class="media">        
                      <span class="pull-left">
                        <i class="fa <%=group.card_icon%> media-object"></i>
                      </span>

                      <div class="media-body">
                        <%=group.name%> 
                            <small style='float:right;padding-top:2px;'>
                                <i class="fa fa-clock-o"></i><%=group.create_at.format('mm/dd/yyyy')%>
                                &nbsp;
                                <i class="fa fa-user"></i><%=group.member_amount%>
                                <% if(isOwner){ %>
                                &nbsp;
                                <i class="fa fa-pencil-square" style="color:white"></i>
                                <% } %>
                            </small><br>
                            <small style='float:right'><i class='fa fa-calendar-o'></i>$<%=group.expected_total.toFixed(2)%></small>
                        <h2 class="media-heading animate-number" data-value="<%=group.pay_amount%>" data-animation-duration="1500">0</h2>
                               
                        
                                </div>    
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">Used %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="<%=group.pay_percent%>" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="<%=group.pay_percent%>%"></div>
                      </div>
                    </div>

                  </div>
                
                  <div class="back <%=isOwner?'three-item':'two-item'%>">
                    <a href="/pay/add/<%=group.id%>">
                      <i class="fa fa-tags fa-4x"></i>
                      <span>Add A Pay</span>
                    </a>
                    <a href="/summary/<%=group.id%>">
                      <i class="fa fa-bar-chart-o fa-4x"></i>
                      <span>Summary</span>
                    </a>
                    <% if(isOwner){ %>
                    <a href="/editgroup/<%=group.id%>">
                      <i class="fa fa-pencil-square-o fa-4x"></i>
                      <span>Edit</span>
                    </a>
                    <% } %>
                  </div>
                </div>
              </div>
            <% } %></%>
              
              

            <% if(max>0){ %>
                
                <div class="card-container col-sm-6 col-sm-12">
                <div class="card card-redbrown flip">
                 <div class="front"> 

                    <div class="media">        
                      <span class="pull-left">
                        <i class="fa fa-users media-object"></i>
                      </span>

                      <div class="media-body">
                     </div>    
                    </div> 

                    <div class="progress-list">
                     
                    </div>

                  </div>
                  <div class="back">
                    <a href="/group">
                      <i class="fa fa-list-ul fa-4x"></i>
                      <span>View More</span>
                    </a>  
                  </div>
                </div>
              </div>
                
            
            <%}    %>


            </div>