<% layout( 'layout') -%>

    <!-- Page content -->
    <div id="content" class="col-md-12">

        <!-- page header -->
        <div class="pageheader">


            <h2><i class="fa fa-tachometer"></i> Add Pay
            <span>To record payment or transfer you have made</span></h2>

            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li>You are here</li>
                    <li><a href="index.html">Pay Together</a>
                    </li>
                    <li class="active">Add Pay</li>
                </ol>
            </div>

        </div>
        <!-- /page header -->

        <!-- content main container -->
        <div class="main">




            <!-- row -->
            <div class="row">




                <!-- col 6 -->
                <div class="col-md-11">

                    <!-- tile -->
                    <section class="tile color transparent-white">

                        <!-- tile header -->
                        <div class="tile-header">
                            <h1><strong>Pay</strong> Information</h1>
                            <div class="controls">
                                <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body">

                            <form parsley-validate id="basicvalidations" class="form-horizontal" role="form" action="/pay/add/<%=groupid%>/" method="POST">




                                <div class="form-group">
                                    <label for="input08" class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-8">
                                        <div id="owl-example" class="owl-carousel">

                                            <div class="text-center">
                                                <h3>Pay</h3>
                                                <i class="fa fa-shopping-cart fa-4x"></i>
                                            </div>

                                            <div class="text-center">
                                                <h3>Transfer</h3>
                                                <i class="fa fa-money fa-4x"></i>
                                            </div>


                                        </div>

                                    </div>
                                    <input type="hidden" name="type" id="type" />
                                </div>



                                <div class="form-group">
                                    <label for="input07" class="col-sm-2 control-label">Memo</label>
                                    <div class="col-sm-8 parsley-container">
                                        <div class="input-group">
                                            <span class="input-group-addon addon-slategray"><i class="fa fa-users"></i></span>
                                            <input type="text" class="form-control" name="memo" placeholder="Tag this pay or transfer" parsley-trigger="change" parsley-required="true" parsley-minlength="4" parsley-validation-minlength="1">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="input07" class="col-sm-2 control-label">Amount</label>
                                    <div class="col-sm-8 parsley-container">
                                        <div class="input-group">
                                            <span class="input-group-addon addon-slategray"><i class="fa fa-calculator "></i></span>
                                            <input type="text" class="form-control" name="amount" placeholder="Set a value" parsley-trigger="change" parsley-required="true" parsley-min="0">
                                            <span class="input-group-addon">$</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group" id="pay-for-div">
                                    <label for="input07" class="col-sm-2 control-label">Pay For</label>
                                    <div class="col-sm-8 choose-member">
                                        <ul class="nolisttypes inlineSelect rowSelect blue parsley-container" >
                                            <li class="title">
                                                <div class="radio radio-transparent">
                                                    <input type="radio" id="all-members" value="all" name="for_who" checked parsley-group="forwho">
                                                    <label for="all-members">All Members</label>
                                                </div>
                                            </li>
                                            <li class="title">
                                                <div class="radio radio-transparent">
                                                    <input type="radio" id="choose-members" value="list" name="for_who" parsley-group="forwho">
                                                    <label for="choose-members">Select Members</label>
                                                </div>
                                            </li>
                                            <% for (var i=0;i<users.length;i++){ var user = users[i]; %>
                                            <li class="member-item">
                                                <div class="checkbox">
                                                    <input type="checkbox" name="for_who_list" value="<%=user._id%>" id="<%=user._id%>" parsley-group="selectedMember" parsley-mincheck="1">
                                                    <label for="<%=user._id%>">
                                                        <!--<img src="/assets/avatars/<%=user.avatar%>">-->
                                                        <%=user.name%></label>
                                                </div>
                                            </li>
                                            <% } %>
                
                                        </ul>
                                    
                                
                                    </div>
                                </div>
                                    
                                <div class="form-group" id="transfer-to-div">
                                    <label for="input07" class="col-sm-2 control-label">Transfer to</label>
                                    <div class="col-sm-8 transfer-to">
                                        <div class="panel panel-primary parsley-container">
                                            <div class="panel-heading radio radio-transparent">
                                                <input type="radio" checked id="selectAMember" parsley-group="nothing">
                                                <label for="selectAMember">Select A Member</label>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="nolisttypes inlineSelect rowSelect blue">
                                                    <% for (var i=0;i<users.length;i++){ 
                                                        var user = users[i]; 
                                                        if(user.id == current_user.id)
                                                            continue;
                                                    %>
                                                    <li class="">
                                                        <div class="radio">
                                                            <input type="radio" name ="to_who" value="<%=user._id%>" id="to-<%=user._id%>" parsley-group="transferTo" parsley-mincheck="1" parsley-required="true">
                                                            <label for="to-<%=user._id%>"><img src="/assets/avatars/<%=user.avatar%>"><%=user.name%></label>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                </ul>
                                            </div>     
                                        </div>
                                    </div>
                                </div>




                                <div class="form-group form-footer footer-white">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        
                                        <input type='hidden' id='members-input' name='members' />
                                        <button type="submit" id="submit-btn" class="btn btn-greensea">Submit</button>
                                        <button type="reset" class="btn btn-red">Reset</button>
                                            
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col 6 -->

            </div>
            <!-- /row -->

        </div>
        <!-- /content container -->

    </div>
    <!-- Page content end -->


    <link rel="stylesheet" href="/assets/js/vendor/colorpalette/bootstrap-colorpalette.css"></link>
    <link rel="stylesheet" href="/assets/js/vendor/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/js/vendor/owl-carousel/css/owl.theme.css">


    <script type="text/javascript" src="/assets/js/vendor/colorpalette/bootstrap-colorpalette.js"></script>
    <script src="/assets/js/vendor/owl-carousel/owl.carousel.min.js"></script>

    <script src="/assets/js/vendor/parsley/parsley.min.js"></script>
    
    <script>
        $(function () {

            var showMember = function(show){
                if(show){
                    $("#pay-for-div").show();
                    $("#transfer-to-div").hide();
                    if(!$("#all-members").is(":checked"))
                        $(".member-item input").removeAttr("disabled");
                    $(".transfer-to input").attr("disabled","disabled");
                }else{
                    $("#pay-for-div").hide();
                    $("#transfer-to-div").show();
                    $(".member-item input").attr("disabled","disabled");
                    $(".transfer-to input").removeAttr("disabled");
                }
            };
            
            

            //owl carousel
            $("#owl-example").owlCarousel({
                singleItem: true,
                pagination: false,
                autoPlay: false,
                navigation: true,
                slideSpeed: 400,
                paginationSpeed: 500,
                navigationText: ['<i class="fa fa-4x fa-chevron-left"></i>', '<i class="fa fa-4x fa-chevron-right"></i>'],
                afterAction: function () {
                    var list = ['pay', 'transfer'];
                    $("#type").val(list[this.owl.currentItem]);
                    showMember(this.owl.currentItem==0);
                }
            });
            
            


            var memberTemplate = $("#member-template").html();


            $("#choose-members").click(function () {

                $(".member-item").removeClass("opacity50");
                $(".member-item input").removeAttr("disabled");
            });
            
            $("#all-members").click(function () {
                $(".member-item input").attr("disabled","disabled");
                $(".member-item").addClass("opacity50");
                
                //alert($( 'form' ).parsley( 'validate' ));
                
                $("#pay-for-div .parsley-validated").removeClass("parsley-validated");
                $("#pay-for-div .parsley-error").removeClass("parsley-error");
                $("#pay-for-div .parsley-error-list").remove();
            });
            
            $(".member-item input").attr("disabled","disabled");
            $(".member-item").addClass("opacity50");
            
            
            $('form').parsley({
                 errors: {
                    container: function (element, isRadioOrCheckbox) {
                        var $container = element.parents(".parsley-container").eq(0);
                    
                        return $container;
                    }
                }   
            });

        });
    </script>

