<head>
<title>Linda Lin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
</head>

<body>

<div style="max-width:640px;margin:auto;">
<p>
    <br/>
</p>
<p style="text-align:center">
    <strong><span style="font-size:15px;font-family: 'Palatino Linotype'">JINGYI LIN (LINDA)</span></strong>
</p>
<p style="text-align:center;line-height:17px">
    <span style="font-size:12px;font-family:Arial">Arlington, VA</span><span style="font-size:12px;font-family:宋体">·</span><span style="font-size:12px;font-family:Arial"></span><span style="font-size:12px;font-family:宋体">·</span><span style="font-size:12px;font-family:Arial">ljylinda@gmail.com</span>
</p>
<p style="margin-top:5px;line-height:14px">
    <strong><span style=";font-family:'Palatino Linotype'">EDUCATION</span></strong><br/>
</p>
<hr/>
<p>
    <span style=";position:relative;z-index:251660288"><span style="left:0px;position: absolute;left:-3px;top:-1px;width:503px;height:5px"><br/></span></span><strong><span style="font-size:14px;font-family: 'Times New Roman'">Johns Hopkins University, United States</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Aug 2014</span></strong>
</p>
<ul>
    <li>
    <span style="font-size:14px;font-family:'Times New Roman'">Master of Science in Finance, GMAT 700</span>
    </li>
</ul>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">Zhejiang University, China </span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Aug 2010</span></strong>
</p>
<ul>
    <li>
    <span style="font-size:14px;font-family:'Times New Roman'">Bachelor of Management, Financial Management</span>
</li>
</ul>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">University of California, Los Angeles, United States</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Aug 2011</span></strong>
</p>
<ul>
    <li>
    <span style="font-size:14px;font-family:'Times New Roman'">Summer session: Macroeconomic Theory, Learning American English and Culture from Movies</span>
</li>
</ul>
<br>
<p style="margin-top:5px;line-height:14px">
    <strong><span style=";font-family:'Palatino Linotype'">INTERNSHIP</span></strong>
</p>
<hr/>
<p>
    <strong><span style="font-size:14px;font-family: 'Times New Roman'">PwC, Shanghai&nbsp; (Consulting)</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Aug 2013- Nov 2013</span></strong>
</p>
<ul>
    <li>
        <span style="font-size: 14px; font-family: 'Times New Roman';">Joined the listed companies’ Long-term Employee Incentive project as the leader of the five-person intern group, developed timelines, assigned tasks and took responsibility for deadlines.</span><br/>
    </li>
    <li>
        <span style="font-size: 14px; font-family: 'Times New Roman';">Collected detailed information of 800 listed companies’ comparative incentive methods in order to identify top performing programs and methods used.</span><br/>
    </li>
    <li>
       <span style="font-size: 14px; font-family: 'Times New Roman';">Provided researches and analysis and developed presentations for a management &amp; administration case involving merger and acquisition between a large service company and a shipment logistics company.</span><br/>
    </li>
</ul>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">HSBC, Hangzhou&nbsp; (Home Loan)</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">May 2013- Jul 2013</span></strong>
</p>
<ul>
    <li>
        
            <span style="font-size: 14px; font-family: 'Times New Roman';">Collected real estate transaction information of Hangzhou daily, including market price per section of the city and numbers of transaction taking place, to identify highest concentration of activity in order to direct marketing initiatives.</span>
        
    </li>
    <li>
        
            <span style="font-size: 14px; font-family: 'Times New Roman';">Helped with 6 home loan businesses by receiving customers, working with contracts, checking clients’ background information and sending notices to clients by mail and phone calls.</span>
        
    </li>
</ul>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">Bank of China, Pingyang Branch&nbsp; ( International Balance)</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Dec 2012 – Feb 2013</span></strong>
</p>
<ul>
    <li>
        <p>
            <span style="font-size: 14px; font-family: 'Times New Roman';">Helped with basic routine work related to letters of credit, receiving over 30 clients, checking the materials they provided and informing them to pay.</span>
        </p>
    </li>
</ul>
<p class="MsoListParagraph" style=";margin-bottom: 0;margin-left:18px;margin-bottom:0">
    <span style="font-size:14px;font-family:'Times New Roman'"><br/></span>
</p>
<p style="margin-top:5px;line-height:14px">
    <strong><span style=";font-family:'Palatino Linotype'">ACTIVITIES</span></strong>
</p>
<hr/>
<p>
    <strong><span style="font-size:14px;font-family: 'Times New Roman'">Class 1001, Financial Management, Zhejiang University &nbsp;&nbsp;(Class President)</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Sept 2012 – Jun 2014</span></strong>
</p>
<ul>
    <li>
        <p>
            <span style="font-size: 14px; font-family: 'Times New Roman';">Led the class to win 'Weiji Star' and ¥5000 award, and donated ¥1000 of it to Sichuan earthquake disaster area</span>
        </p>
    </li>
</ul>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">Asia-Pacific Student Entrepreneurship Society Summit 2012&nbsp;&nbsp; (Management Team Member)&nbsp;&nbsp; </span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Sept 2012</span></strong>
</p>
<ul>
    <li>
        
            <span style="font-size: 14px; font-family: 'Times New Roman';">Participated in the preparation work about the process of the summit and the detailed arrangement about meeting rooms</span>
        
    </li>
    <li>
            <span style="font-size: 14px; font-family: 'Times New Roman';">Took care of three foreign delegates, arranging their accommodation, acting as their interpreter during their stay, taking them around the city for sightseeing after the summit</span>
    </li>
    <li>
        
            <span style="font-size: 14px; font-family: 'Times New Roman';">Joined the discussions and meetings, and won the first prize in the case competition part by presenting advertising and development solutions for a company, 'Kadang', with foreign teammates</span>
      
    </li>
</ul>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">Initiated English Summer Camp for pupils for free&nbsp;&nbsp; (Leader)</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Jul 2011</span></strong>
</p>
<ul>
    <li>
            <span style="font-size: 14px; font-family: 'Times New Roman';">Cooperated with the biggest hospital in the city and organized 
    </li>
    <li>
            <span style="font-size: 14px; font-family: 'Times New Roman';">Recruited 8 English teachers and negotiated free classrooms with the hospital</span>
    </li>
</ul>

<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">Volunteer Guidance Center, Youth League of Zhejiang University&nbsp;&nbsp; (Minister)</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Sept 2010 – Sept 2013</span></strong>
</p>
<ul>
    <li>
            <span style="font-size: 14px; font-family: 'Times New Roman';">Managed over 20 volunteer activities and called for all of the students in the university to join volunteering</span>
        
    </li>
</ul>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">Guitar Club, Zhejiang University&nbsp;&nbsp; (Vice President)</span><span style="font-size:14px;font-family: 'Times New Roman';float:right">Sept 2010 – Sept 2012</span></strong>
</p>
<ul>
    <li>
       
            <span style="font-size: 14px; font-family: 'Times New Roman';">Organized a city-level event Hangzhou 'Re Ma' College Students Music Festival, arranging the process of the event and finding the sponsors</span>
        
    </li>
    <li>
        <span style="font-size: 14px; font-family: 'Times New Roman';">Operated guitar training programs for students who want to take guitar lessons by inviting guitar teachers from music school and borrowing classrooms</span>
    </li>
</ul>
<p class="MsoListParagraph" style="margin-left:18px">
    <span style="font-size:14px;font-family:'Times New Roman'"><br/></span>
</p>
<p style="margin-top:5px;line-height:14px">
    <strong><span style=";font-family:'Palatino Linotype'">PERSONAL</span></strong>
</p>
<hr/>
<p>
    <strong><span style="font-size:14px;font-family:'Times New Roman'">Skills</span></strong>
</p>
<ul>
    <li>
    <span style="font-size:14px;font-family:'Times New Roman'">Expert in Excel and SPSS.</span>
</li>
</ul>
<p>
    <br/>
</p>

</div>
</body>