<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Dashboard </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div >
    <div class="note note-info hide">
        <h3>Meet Metronic AngularJS Version!
            <span class="close" data-close="note"></span>
        </h3>
        <p> AngularJS version of Metronic gives an extremely fast browsing experience to users. It uses lazy loading of dependency resources(modules, controllers, templates, jquery plugins, javascripts and even css files) on demand. UI-Router is used for
            flexible routing with nested views. UI Bootstrap enables using all Bootstrap framework components with pure AngularJS directives. </p>
        <span class="label label-danger">NOTE:</span> All Metronic features from the HTML version(pages, layout options, components, plugins, etc) are fully compatible in the AngularJS version.</span>
        </p>
    </div>
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
        ng-repeat="group in groups">
            <div class="dashboard-stat {{group.color}}">
                <div class="visual">
                    <i class="fa fa-{{group.icon}}"></i>
                </div>
                <div class="details">
                    <div class="number"> 1349 </div>
                    <div class="desc"> {{group.name}} </div>
                </div>
                <a class="more" href="#" ng-click="showDetail(group)"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat yellow-soft">
                <div class="visual">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="details">
                    <div class="number"> Create New </div>
                    <div class="desc"> With friends </div>
                </div>
                <a class="more" href="#" ng-click="startCreateGroup()"> Create
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    
    
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    // Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->