<link href="../assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />

 
<!-- END PAGE BREADCRUMBS -->
<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <!-- BEGIN CONTENT HEADER -->
    <div class="row margin-bottom-40 about-header">
        <div class="col-md-12">
            <h1>Keep it SIMPLE</h1>
            <h2>Record bills and Resolve IOUs. Make sure everyone gets paid back.</h2>
            <a ui-sref="login" class="btn btn-danger">JOIN US</a>
        </div>
    </div>
    <!-- END CONTENT HEADER -->
    <!-- BEGIN CARDS -->
    <div class="row margin-bottom-20">
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon">
                    <i class="icon-user-follow font-red-sunglo theme-font"></i>
                </div>
                <div class="card-title">
                    <span> Best User Expierence </span>
                </div>
                <div class="card-desc">
                    <span> Multiple way to define how friends share one bill </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon">
                    <i class="icon-trophy font-green-haze theme-font"></i>
                </div>
                <div class="card-title">
                    <span> Efficiency </span>
                </div>
                <div class="card-desc">
                    <span> Always provide the best solution to get everyone's pay back </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon">
                    <i class="icon-basket font-purple-wisteria theme-font"></i>
                </div>
                <div class="card-title">
                    <span> Recording </span>
                </div>
                <div class="card-desc">
                    <span> Present all costs in detail. Always know how much you spend</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon">
                    <i class="icon-layers font-blue theme-font"></i>
                </div>
                <div class="card-title">
                    <span> Simple </span>
                </div>
                <div class="card-desc">
                    <span> No need to invole all friends. Only those who want </span>
                </div>
            </div>
        </div>
    </div>
    <!-- END CARDS -->
    <!-- BEGIN TEXT & VIDEO -->
    <div class="row margin-bottom-40">
        <div class="col-lg-12">
            <div class="portlet light portlet-fit ">    
                <div class="portlet-title" style="margin-bottom:0px;">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Three Steps</span>
                    </div>
                </div>
                <div class="portlet-body bg-dark">
                    <div class="mt-element-step">
                        <div class="row step-line">
                            <div class="col-md-4 mt-step-col first error">
                                <div class="mt-step-number bg-dark font-grey">1</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Create a Group</div>
                                <br/>
                                <div class="mt-step-content font-grey-cascade">Think up a group name, choose a representive backgroup color and add some friends either by their account name or giving them a tag.</div>
                            </div>
                            <div class="col-md-4 mt-step-col active">
                                <div class="mt-step-number bg-dark font-grey">2</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Recording</div>
                                </br>
                                <div class="mt-step-content font-grey-cascade">Add activities inside your group. Activity contains who makes the pay, how much they paid and what percentage each member shares.</div>
                            </div>
                            <div class="col-md-4 mt-step-col done last">
                                <div class="mt-step-number bg-dark font-grey">3</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Solution</div>
                                <br>
                                <div class="mt-step-content font-grey-cascade">Click one button to know how to balance everyone in group. Solution tells exactly how much every member owes to others.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>              
                                    
    
</div>
               